.socialMediaLogos>.brand-logo {
    padding-right: 15px !important;
    padding-top: 30px !important;
}

.user-view {
    height: 200px;
}

.rocket, .github {
    width: 60px;
}

.circle {
    width: 75px !important;
    height: 75px !important;
}